html {
	font-size: 62.5%;
}

body {
	font: 1.2em/1.5 Arial, Helvetica, sans-serif;
	color: #444;
	background-color: #fff;
}

article h1 {
	font-size: 1.5em;
	line-height: 1;
	color: #222;
}

article p {
	color: blue;
	opacity: 0.75;
	box-sizing: border-box;
}
